-- CreateEnum
CREATE TYPE "BgmGenre" AS ENUM ('INST', 'K_POP', 'J_POP', 'POP', 'ETC', 'TOPGOL');

-- CreateTable
CREATE TABLE "Song" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "artist" TEXT NOT NULL,
    "videoUrl" TEXT,
    "description" TEXT,
    "lyrics" TEXT,
    "isPublic" BOOLEAN NOT NULL DEFAULT true,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isFirstVerseOnly" BOOLEAN NOT NULL DEFAULT false,
    "isHighDifficulty" BOOLEAN NOT NULL DEFAULT false,
    "isLoopStation" BOOLEAN NOT NULL DEFAULT false,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "videoUrl2" TEXT,
    "category" TEXT NOT NULL,
    "isMr" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Song_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SongLike" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "songId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SongLike_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BgmTrack" (
    "id" TEXT NOT NULL,
    "title" TEXT,
    "videoUrl" TEXT NOT NULL,
    "genre" "BgmGenre" NOT NULL,
    "duration" INTEGER,
    "thumbnail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],

    CONSTRAINT "BgmTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notice" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "content" TEXT NOT NULL,
    "isVisible" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Notice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Guestbook" (
    "id" TEXT NOT NULL,
    "author" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "userKey" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Guestbook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VisitorCount" (
    "date" TIMESTAMP(3) NOT NULL,
    "count" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "VisitorCount_pkey" PRIMARY KEY ("date")
);

-- CreateTable
CREATE TABLE "PinnedGuestbook" (
    "id" SERIAL NOT NULL,
    "guestbookId" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PinnedGuestbook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LookBookPost" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "uploader" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "viewCount" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "LookBookPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LookBookPostImage" (
    "id" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "LookBookPostImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LookBookPostView" (
    "id" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LookBookPostView_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PageText" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "title" TEXT NOT NULL,
    "subtitle" TEXT NOT NULL,
    "howToRequest" TEXT NOT NULL,
    "howToWatch" TEXT NOT NULL,
    "priceInfo" TEXT NOT NULL,
    "otherInfo" TEXT NOT NULL,
    "faq" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PageText_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mr_memo" (
    "id" TEXT NOT NULL,
    "songId" TEXT NOT NULL,
    "memo" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mr_memo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CollaborationMemo" (
    "id" TEXT NOT NULL,
    "target" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "color" TEXT NOT NULL DEFAULT 'yellow',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CollaborationMemo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CollaborationMemoComment" (
    "id" TEXT NOT NULL,
    "memoId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CollaborationMemoComment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Song_category_idx" ON "Song"("category");

-- CreateIndex
CREATE INDEX "Song_createdAt_idx" ON "Song"("createdAt");

-- CreateIndex
CREATE INDEX "SongLike_userId_idx" ON "SongLike"("userId");

-- CreateIndex
CREATE INDEX "SongLike_songId_idx" ON "SongLike"("songId");

-- CreateIndex
CREATE UNIQUE INDEX "SongLike_userId_songId_key" ON "SongLike"("userId", "songId");

-- CreateIndex
CREATE INDEX "BgmTrack_genre_idx" ON "BgmTrack"("genre");

-- CreateIndex
CREATE INDEX "BgmTrack_createdAt_idx" ON "BgmTrack"("createdAt");

-- CreateIndex
CREATE INDEX "BgmTrack_order_idx" ON "BgmTrack"("order");

-- CreateIndex
CREATE UNIQUE INDEX "PinnedGuestbook_guestbookId_key" ON "PinnedGuestbook"("guestbookId");

-- CreateIndex
CREATE INDEX "LookBookPostView_postId_idx" ON "LookBookPostView"("postId");

-- CreateIndex
CREATE INDEX "LookBookPostView_deviceId_idx" ON "LookBookPostView"("deviceId");

-- CreateIndex
CREATE UNIQUE INDEX "LookBookPostView_postId_deviceId_key" ON "LookBookPostView"("postId", "deviceId");

-- CreateIndex
CREATE UNIQUE INDEX "mr_memo_songId_key" ON "mr_memo"("songId");

